apiVersion: apps/v1
kind: Deployment
metadata:
  name: ros2-talker
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: talker
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 400m
            memory: 512Mi
