apiVersion: apps/v1
kind: Deployment
metadata:
  name: ros2-node
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: ros2-node
        image: ros:humble-ros-core
        imagePullPolicy: Always  # Always pull in dev for latest
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 250m
            memory: 512Mi
        env:
        - name: ROS_LOG_DIR
          value: /tmp/ros_logs
