apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml

commonLabels:
  app.kubernetes.io/name: ros2
  app.kubernetes.io/part-of: robotics-platform
  app.kubernetes.io/managed-by: argocd
